@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'primary';
  src: url('./assets/fonts/JosefinSans-Regular.ttf');
}

@font-face {
  font-family: 'second';
  src: url('./assets/fonts/Lobster-Regular.ttf');
}

@font-face {
  font-family: 'third';
  src: url('./assets/fonts/Pacifico-Regular.ttf');
}

@font-face {
  font-family: 'forth';
  src: url('./assets/fonts/DancingScript-Regular.ttf');
}

html,
body,
#root {
  width: 100vw;
  height: 100vh;
  font-family: 'primary';
}

#root {
  @apply bg-gray-900 flex justify-center items-center;
}
